# Игнорирование файлов с настройками дебага
firmware/source/.vscode/.cortex-debug.peripherals.state.json
firmware/source/.vscode/.cortex-debug.registers.state.json

# Игнорирование папки build
firmware/source/build/
